@model Intex.Cranial2002
@inject SignInManager<IdentityUser> signInManager;

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Cranial Entry Details</h1>

@*Show all details for a selected entry*@

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.MaximumCranialLength)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaximumCranialLength)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.MaximumCranialBreadth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaximumCranialBreadth)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.BasionBreg)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BasionBreg)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.BasionNasion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BasionNasion)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.BasionProsthionLength)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BasionProsthionLength)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.BizygomaticDiameter)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BizygomaticDiameter)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.NasionProsthion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NasionProsthion)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.MaximumNasalBreadth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaximumNasalBreadth)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.InterorbitalBreadth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InterorbitalBreadth)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.BurialPositioningNorthSouthNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BurialPositioningNorthSouthNumber)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.BurialPositioningNorthSouthDirection)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BurialPositioningNorthSouthDirection)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.BurialPositioningEastWestNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BurialPositioningEastWestNumber)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.BurialPositioningEastWestDirection)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BurialPositioningEastWestDirection)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.BurialNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BurialNumber)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.BurialDepth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BurialDepth)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.BurialSubPlotDirection)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BurialSubPlotDirection)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.BurialArtifactDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BurialArtifactDescription)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.BuriedWithArtifacts)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BuriedWithArtifacts)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.GilesGender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GilesGender)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.BodyGender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BodyGender)
        </dd>
    </dl>
</div>
<div>
    @if (signInManager.IsSignedIn(User) && (User.IsInRole("Admin") || (User.IsInRole("Researcher"))))
    {
        <a asp-action="Edit" asp-route-id="@Model.SampleNumber" class="btn btn-brownsugar m-1">Edit</a>

    }
    <a asp-action="Index" class="btn btn-secondary m-1">Back to List</a>
</div>