@model IndexViewModel
@inject SignInManager<IdentityUser> signInManager;

@{
    ViewData["Title"] = "Cranial Data";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Cranial Data</h1>

@if (signInManager.IsSignedIn(User) && (User.IsInRole("Admin") || (User.IsInRole("Researcher"))))
{
    <a class="btn btn-success m-1" asp-action="Create">Add New Entry</a>
    <br />
}

<table class="table">
    <thead>
        <tr>
            <th>
                Maximum Cranial Length
            </th>
            <th>
                Maximum Cranial Breadth
            </th>
            <th>
                Burial Positioning North South Number
            </th>
            <th>
                Burial Positioning North South Direction
            </th>
            <th>
                Burial Positioning East West Number
            </th>
            <th>
                Burial Positioning East West Direction
            </th>
            <th>
                Burial Number
            </th>
            <th>
                Burial Depth
            </th>
            <th>
                Burial Sub Plot Direction
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Cranial2002s)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaximumCranialLength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaximumCranialBreadth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BurialPositioningNorthSouthNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BurialPositioningNorthSouthDirection)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BurialPositioningEastWestNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BurialPositioningEastWestDirection)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BurialNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BurialDepth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BurialSubPlotDirection)
            </td>
            <td>
                @if (signInManager.IsSignedIn(User) && (User.IsInRole("Admin") || (User.IsInRole("Researcher"))))
                {
                    <a asp-action="Edit" asp-route-id="@item.SampleNumber" class="btn btn-secondary m-1" style="width: 80px">Edit</a>
                }

                <a asp-action="Details" asp-route-id="@item.SampleNumber" class="btn btn-info m-1" style="width: 80px">Details</a>
                @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                {
                    <a asp-action="Delete" asp-route-id="@item.SampleNumber" class="btn btn-danger m-1" style="width: 80px">Delete</a>
                }
            </td>
        </tr>
        }
    </tbody>
</table>


<div class="text-center">
    <div page-model="@Model.PagingInfo"
         page-classes-enabled="true"
         page-class="btn"
         page-class-normal="btn-outline-dark"
         page-class-selected="btn-primary"
         class="btn-group pull-right m-1"></div>
</div>