@inject SignInManager<IdentityUser> signInManager;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Intex</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="shortcut icon" type="image/x-icon" href="~/img/logo_byu_excavations.ico" />
    @RenderSection("header", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <img width="45px" height="auto" src="~/img/Logo_BYU_Excavations.jpg" style="position:relative;top:0px">
                <a class="navbar-brand ml-3" asp-area="" asp-controller="Home" asp-action="Index">Fag el-Gamous</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="PDFData">Field Notes and Data</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="https://byu.maps.arcgis.com/apps/CEWebViewer/viewer.html?3dWebScene=b97ad484af45498cacabc2bb9d43390b" target="_blank">Mummy Map</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">View Data</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropownMenuLink">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Exhumations" asp-action="Index">Exhumations</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Burials" asp-action="Index">Burials</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="BioSamples" asp-action="Index">Bio Samples</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Cranial2002" asp-action="Index">Cranial Data</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="OracleSpreads" asp-action="Index">Oracle Spreadsheet</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="C14Data" asp-action="Index">Carbon Dating</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Visualizations</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropownMenuLink">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Burials" asp-action="Visualization">Burials</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Cranial2002" asp-action="Visualization">Cranial Data</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="OracleSpreads" asp-action="Visualization">Oracle Spreadsheet</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="C14Data" asp-action="Visualization">Carbon Dating</a>
                            </div>
                        </li>
                        @*If a user is logged in AND they are an admin, give them access to the admin tab*@
                        @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Manage</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropownMenuLink">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Administration" asp-action="ListUsers">Users</a>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Administration" asp-action="ListRoles">Roles</a>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>

        @RenderSection("masthead", required: false)
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-white">
        <div class="container">
            &copy; 2021 - Intex Group 2-9
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
