@model IEnumerable<BioSamples>
@inject SignInManager<IdentityUser> signInManager;

@{
    ViewData["Title"] = "Bio Samples";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section header{
    <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#demo").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#test tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
}

<h1>Filter by ALL Bio Sample Data</h1>


<div class="container">
    <input class="form-control" id="demo" type="text" placeholder="Enter your search term here...">
    <br>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    Rack Number
                </th>
                <th>
                    Burial Subplot
                </th>
                <th>
                    Burial Number
                </th>
                <th>
                    Date
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody id="test">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.RackNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BurialSubplot)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BurialNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.BurialId" class="btn btn-secondary m-1" style="width: 80px">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.BurialId" class="btn btn-brownsugar m-1" style="width: 80px">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.BurialId" class="btn btn-cedarchest m-1" style="width: 80px">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>









