@model Intex.BioSamples
@inject SignInManager<IdentityUser> signInManager;

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>BioSample Entry Details</h1>

@*Show all details for a selected entry*@

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            Rack Number
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.RackNumber)
        </dd>
        <dt class="col-sm-3">
           Bag Number
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.BagNumber)
        </dd>
        <dt class="col-sm-3">
            Low Pair North or South
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.LowPairNs)
        </dd>
        <dt class="col-sm-3">
            High Pair North or South
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.HighPairNs)
        </dd>
        <dt class="col-sm-3">
            Burial Location North or South
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.BurialLocationNs)
        </dd>
        <dt class="col-sm-3">
            Low Pair East or West
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.LowPairEw)
        </dd>
        <dt class="col-sm-3">
            High Pair East or West
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.HighPairEw)
        </dd>
        <dt class="col-sm-3">
            Burial Location East or West
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.BurialLocationEw)
        </dd>
        <dt class="col-sm-3">
            Burial Subplot
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.BurialSubplot)
        </dd>
        <dt class="col-sm-3">
            Burial Number
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.BurialNumber)
        </dd>
        <dt class="col-sm-3">
            Date
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-3">
            Previously Sampled
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.PreviouslySampled)
        </dd>
        <dt class="col-sm-3">
            Notes
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt class="col-sm-3">
            Initials
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Initials)
        </dd>
        <dt class="col-sm-3">
            Burial ID
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Burial.BurialId)
        </dd>
    </dl>
</div>
<div>
    @if (signInManager.IsSignedIn(User) && (User.IsInRole("Admin") || (User.IsInRole("Researcher"))))
    {
        <a asp-action="Edit" asp-route-id="@Model.BioSampleId" class="btn btn-brownsugar m-1">Edit</a>

    }
    <a asp-action="Index" class="btn btn-secondary m-1">Back to List</a>
</div>