@model IEnumerable<Intex.Models.Exhumation>
@inject SignInManager<IdentityUser> signInManager;


@{
    ViewData["Title"] = "Index";
}

@section header{
    <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#demo").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#test tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
}

<h1>Filter by ALL Exhumation Data</h1>

<div class="container">
    <input class="form-control" id="demo" type="text" placeholder="Enter your search term here...">
    <br>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.LowPairNS)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HighPairNS)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BurialLocationNS)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LowPairEW)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HighPairEW)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BurialLocationEW)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Area)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShaftNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BurialNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SouthToHeadInMeters)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SouthToFeetInMeters)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WestToHeadInMeters)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WestToFeetInMeters)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LengthInMeters)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DepthInMeters)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhotoPath)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BurialGoods)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Hair)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Age)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BurialMaterials)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExcavationRecorder)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Time)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody id="test">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.LowPairNS)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HighPairNS)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BurialLocationNS)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LowPairEW)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HighPairEW)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BurialLocationEW)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Area)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShaftNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BurialNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SouthToHeadInMeters)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SouthToFeetInMeters)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WestToHeadInMeters)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WestToFeetInMeters)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LengthInMeters)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DepthInMeters)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhotoPath)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BurialGoods)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Hair)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Age)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BurialMaterials)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExcavationRecorder)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Time)
                    </td>
                    <td>
                        @if (signInManager.IsSignedIn(User) && (User.IsInRole("Admin") || (User.IsInRole("Researcher"))))
                        {
                            <a asp-action="Edit" asp-route-id="@item.BurialID" class="btn btn-secondary m-1" style="width: 80px">Edit</a>
                        }

                        <a asp-action="Details" asp-route-id="@item.BurialID" class="btn btn-info m-1" style="width: 80px">Details</a>
                        @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                        {
                            <a asp-action="Delete" asp-route-id="@item.BurialID" class="btn btn-danger m-1" style="width: 80px">Delete</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary m-1">Back to List</a>
</div>
