@model Intex.Models.Exhumation
@inject SignInManager<IdentityUser> signInManager;


@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var photoPath = "~/img/Exhumations/" + (Model.PhotoPath ?? "noimage.png");
}

<h1>Exhumation Entry Details</h1>

@*Show all details for a selected entry*@

@*Show a photo that has been saved to the DB, or a noimage photo if not*@
<div class="text-center">
    <img class="img-fluid" src="@photoPath" asp-append-version="true" />
    @if (photoPath == "~/img/Exhumations/noimage.png")
    {
        <p class="text-danger">No image has been saved for this entry</p>
    }
</div>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            Low Pair North or South        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.LowPairNS)
        </dd>
        <dt class="col-sm-3">
            High Pair North or South 
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.HighPairNS)
        </dd>
        <dt class="col-sm-3">
            Burial Location North or South        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.BurialLocationNS)
        </dd>
        <dt class="col-sm-3">
            Low Pair East or West 
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.LowPairEW)
        </dd>
        <dt class="col-sm-3">
            High Pair East or West
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.HighPairEW)
        </dd>
        <dt class="col-sm-3">
            Burial Location East or West
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.BurialLocationEW)
        </dd>
        <dt class="col-sm-3">
            Area
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Area)
        </dd>
        <dt class="col-sm-3">
            Shaft Number
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ShaftNumber)
        </dd>
        <dt class="col-sm-3">
            Burial Number
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.BurialNumber)
        </dd>
        <dt class="col-sm-3">
            South to Head (meters)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.SouthToHeadInMeters)
        </dd>
        <dt class="col-sm-3">
            South to Feet (meters)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.SouthToFeetInMeters)
        </dd>
        <dt class="col-sm-3">
            West to Head (meters)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.WestToHeadInMeters)
        </dd>
        <dt class="col-sm-3">
            West to Feet (meters)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.WestToFeetInMeters)
        </dd>
        <dt class="col-sm-3">
            Length (meters)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.LengthInMeters)
        </dd>
        <dt class="col-sm-3">
            Depth (meters)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.DepthInMeters)
        </dd>
        <dt class="col-sm-3">
            Burial Goods
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.BurialGoods)
        </dd>
        <dt class="col-sm-3">
            Hair
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Hair)
        </dd>
        <dt class="col-sm-3">
            Age
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class="col-sm-3">
            Burial Materials
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.BurialMaterials)
        </dd>
        <dt class="col-sm-3">
            Excavation Recorder
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ExcavationRecorder)
        </dd>
        <dt class="col-sm-3">
            Date
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-3">
            Time
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Time)
        </dd>
    </dl>
</div>
<div>
    @if (signInManager.IsSignedIn(User) && (User.IsInRole("Admin") || (User.IsInRole("Researcher"))))
    {
        <a asp-action="Edit" asp-route-id="@Model.BurialID" class="btn btn-brownsugar m-1">Edit</a>

    }
    <a asp-action="Index" class="btn btn-secondary m-1">Back to List</a>
</div>
