@model IndexViewModel
@inject SignInManager<IdentityUser> signInManager;

@{
    ViewData["Title"] = "Exhumations";
    ViewData["Description"] = "Our most updated database. Come here to see all of our latest and greatest data";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*Display a sexy masthead image to welcome the user to the page*@
@section masthead{
    <partial name="_BigOlPicturesPartial" />
}

@*Add in these scripts to allow filter box to work*@
@section header{
    <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#demo").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#test tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
}

@*Allow ability to add new entry for admins and researchers*@
@if (signInManager.IsSignedIn(User) && (User.IsInRole("Admin") || (User.IsInRole("Researcher"))))
{
    <a class="btn btn-egyptianblue m-1" asp-action="Create">Add New Entry</a>
    <br />
}
<br />

@*Search box for filtering, table to display all information*@
<div class="container">
    <h5>Quick filter for data on this page</h5>
    <input class="form-control" id="demo" type="text" placeholder="Enter your search term here...">
    <br />

    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <a class="btn" asp-area="" asp-controller="Exhumations" asp-action="AllData">You can also filter on all Exhumation data by clicking here</a>
            </h5>
        </div>
    </div>

    <br />

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Burial Location</th>
                <th>Length</th>
                <th>Depth</th>
                <th>Hair</th>
                <th>Age</th>
                <th>Burial Materials</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="test">
            @foreach (var item in Model.Exhumations)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.LowPairNS)/@Html.DisplayFor(modelItem => item.HighPairNS) @Html.DisplayFor(modelItem => item.BurialLocationNS) @Html.DisplayFor(modelItem => item.LowPairEW)/@Html.DisplayFor(modelItem => item.HighPairEW) @Html.DisplayFor(modelItem => item.BurialLocationEW)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LengthInMeters)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DepthInMeters)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Hair)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Age)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BurialMaterials)
                    </td>
                    <td>
                        @if (signInManager.IsSignedIn(User) && (User.IsInRole("Admin") || (User.IsInRole("Researcher"))))
                        {
                            <a asp-action="Edit" asp-route-id="@item.BurialID" class="btn btn-secondary m-1" style="width: 80px">Edit</a>
                        }

                        <a asp-action="Details" asp-route-id="@item.BurialID" class="btn btn-brownsugar m-1" style="width: 80px">Details</a>
                        @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                        {
                            <a asp-action="Delete" asp-route-id="@item.BurialID" class="btn btn-cedarchest m-1" style="width: 80px">Delete</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<div class="text-center">
    <div page-model="@Model.PagingInfo"
         page-classes-enabled="true"
         page-class="btn"
         page-class-normal="btn-outline-dark"
         page-class-selected="btn-egyptianblue"
         class="btn-group pull-right m-1"></div>
</div>