@model Intex.C14Data
@inject SignInManager<IdentityUser> signInManager;

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Carbon Dating Entry Details</h1>

@*Show all details for a selected entry*@

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            Rack
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Rack)
        </dd>
        <dt class="col-sm-3">
            North or South Number
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.NorthSouthNumber)
        </dd>
        <dt class="col-sm-3">
            North or South Letter
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.NorthSouthLetter)
        </dd>
        <dt class="col-sm-3">
            East or West Number
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.EastWestNumber)
        </dd>
        <dt class="col-sm-3">
            East or West Letter
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.EastWestLetter)
        </dd>
        <dt class="col-sm-3">
            Square
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Square)
        </dd>
        <dt class="col-sm-3">
            Area
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Area)
        </dd>
        <dt class="col-sm-3">
            Tube Number
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.TubeNumber)
        </dd>
        <dt class="col-sm-3">
            Description
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-3">
            Size (ml)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.SizeMl)
        </dd>
        <dt class="col-sm-3">
            Foci
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Foci)
        </dd>
        <dt class="col-sm-3">
            C14 Sample 2017
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.C14Sample2017)
        </dd>
        <dt class="col-sm-3">
            Location
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class="col-sm-3">
            Questions
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.QuestionS)
        </dd>
        <dt class="col-sm-3">
            Other Number
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.OtherNumber)
        </dd>
        <dt class="col-sm-3">
            Conventional 14c Age Bp
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Conventional14cAgeBp)
        </dd>
        <dt class="col-sm-3">
            14c Calendar Date
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model._14cCalendarDate)
        </dd>
        <dt class="col-sm-3">
            Calibrated 95 Calendar Date Maximum
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Calibrated95CalendarDateMax)
        </dd>
        <dt class="col-sm-3">
            Calibrated 95 Calendar Date Minimum
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Calibrated95CalendarDateMin)
        </dd>
        <dt class="col-sm-3"> 
            Calibrated 95 Calendar Date Span
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Calibrated95CalendarDateSpan)
        </dd>
        <dt class="col-sm-3">
            Calibrated 95 Calendar Date Avg
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Calibrated95CalendarDateAvg)
        </dd>
        <dt class="col-sm-3">
            Category
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class="col-sm-3">
            Notes
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Notes)
        </dd>
    </dl>
</div>
<div>
    @if (signInManager.IsSignedIn(User) && (User.IsInRole("Admin") || (User.IsInRole("Researcher"))))
    {
        <a asp-action="Edit" asp-route-id="@Model.BurialNumber" class="btn btn-brownsugar m-1">Edit</a>

    }
    <a asp-action="Index" class="btn btn-secondary m-1">Back to List</a>
</div>
