@model Intex.C14Data
@inject SignInManager<IdentityUser> signInManager;

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>C14Data</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rack)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rack)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NorthSouthNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NorthSouthNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NorthSouthLetter)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NorthSouthLetter)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EastWestNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EastWestNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EastWestLetter)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EastWestLetter)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Square)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Square)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Area)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Area)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TubeNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TubeNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SizeMl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SizeMl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Foci)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Foci)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.C14Sample2017)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.C14Sample2017)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.QuestionS)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.QuestionS)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OtherNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OtherNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Conventional14cAgeBp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Conventional14cAgeBp)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model._14cCalendarDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model._14cCalendarDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Calibrated95CalendarDateMax)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Calibrated95CalendarDateMax)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Calibrated95CalendarDateMin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Calibrated95CalendarDateMin)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Calibrated95CalendarDateSpan)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Calibrated95CalendarDateSpan)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Calibrated95CalendarDateAvg)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Calibrated95CalendarDateAvg)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
    </dl>
</div>
<div>
    @if (signInManager.IsSignedIn(User) && (User.IsInRole("Admin") || (User.IsInRole("Researcher"))))
    {
        <a asp-action="Edit" asp-route-id="@Model.BurialNumber" class="btn btn-info m-1">Edit</a>

    }
    <a asp-action="Index" class="btn btn-secondary m-1">Back to List</a>
</div>
