@model Intex.Burials
@inject SignInManager<IdentityUser> signInManager;

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Burial Entry Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BurialLocation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BurialLocation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BurialLocationNs)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BurialLocationNs)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BurialLocationEw)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BurialLocationEw)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LowPairNs)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LowPairNs)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HighPairNs)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HighPairNs)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LowPairEw)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LowPairEw)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HighPairEw)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HighPairEw)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BurialSubplot)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BurialSubplot)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BurialDepth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BurialDepth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SouthToHead)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SouthToHead)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SouthToFeet)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SouthToFeet)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EastToHead)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EastToHead)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EastToFeet)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EastToFeet)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BurialSituation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BurialSituation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LengthOfRemains)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LengthOfRemains)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BurialNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BurialNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SampleNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SampleNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GenderGe)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GenderGe)
        </dd>
        @if (Model.GeFunctionTotal != 0 && Model.GeFunctionTotal != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.GeFunctionTotal)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.GeFunctionTotal)
            </dd>
        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GenderBodyCol)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GenderBodyCol)
        </dd>
        @if (Model.BasilarSuture != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BasilarSuture)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BasilarSuture)
            </dd>
        }
        @if (Model.VentralArc != 0 && Model.VentralArc != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.VentralArc)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.VentralArc)
            </dd>
        }
        @if (Model.SubpubicAngle != 0 && Model.SubpubicAngle != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.SubpubicAngle)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SubpubicAngle)
            </dd>
        }
        @if (Model.SciaticNotch != 0 && Model.SciaticNotch != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.SciaticNotch)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SciaticNotch)
            </dd>
        }
        @if (Model.PubicBone != 0 && Model.PubicBone != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PubicBone)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PubicBone)
            </dd>
        }
        @if (Model.PreaurSulcus != 0 && Model.PreaurSulcus != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PreaurSulcus)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PreaurSulcus)
            </dd>
        }
        @if (Model.MedialIpRamus != 0 && Model.MedialIpRamus != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.MedialIpRamus)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MedialIpRamus)
            </dd>
        }
        @if (Model.DorsalPitting != 0 && Model.DorsalPitting != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DorsalPitting)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DorsalPitting)
            </dd>
        }
        @if (Model.ForemanMagnum != 0 && Model.ForemanMagnum != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ForemanMagnum)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ForemanMagnum)
            </dd>
        }
        @if (Model.FemurHead != 0 && Model.FemurHead != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FemurHead)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FemurHead)
            </dd>
        }
        @if (Model.HumerusHead != 0 && Model.HumerusHead != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.HumerusHead)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.HumerusHead)
            </dd>
        }
        @if (Model.Osteophytosis != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Osteophytosis)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Osteophytosis)
            </dd>
        }
        @if (Model.PubicSymphysis != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PubicSymphysis)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PubicSymphysis)
            </dd>
        }
        @if (Model.BoneLength != 0 && Model.BoneLength != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BoneLength)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BoneLength)
            </dd>
        }
        @if (Model.FemurLength != 0 && Model.FemurLength != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FemurLength)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FemurLength)
            </dd>
        }
        @if (Model.HumerusLength != 0 && Model.HumerusLength != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.HumerusLength)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.HumerusLength)
            </dd>
        }
        @if (Model.TibiaLength != 0 && Model.TibiaLength != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TibiaLength)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TibiaLength)
            </dd>
        }
        @if (Model.Robust != 0 && Model.Robust != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Robust)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Robust)
            </dd>
        }
        @if (Model.SupraorbitalRidges != 0 && Model.SupraorbitalRidges != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.SupraorbitalRidges)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SupraorbitalRidges)
            </dd>
        }
        @if (Model.OrbitEdge != 0 && Model.OrbitEdge != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.OrbitEdge)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.OrbitEdge)
            </dd>
        }
        @if (Model.ParietalBossing != 0 && Model.ParietalBossing != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ParietalBossing)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ParietalBossing)
            </dd>
        }
        @if (Model.Gonian != 0 && Model.Gonian != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Gonian)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Gonian)
            </dd>
        }
        @if (Model.NuchalCrest != 0 && Model.NuchalCrest != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.NuchalCrest)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NuchalCrest)
            </dd>
        }
        @if (Model.ZygomaticCrest != 0 && Model.ZygomaticCrest != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ZygomaticCrest)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ZygomaticCrest)
            </dd>
        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CranialSuture)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CranialSuture)
        </dd>
        @if (Model.MaximumCranialLength != 0 && Model.MaximumCranialLength != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.MaximumCranialLength)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MaximumCranialLength)
            </dd>
        }
        @if (Model.MaximumCranialBreadth != 0 && Model.MaximumCranialBreadth != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.MaximumCranialBreadth)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MaximumCranialBreadth)
            </dd>
        }
        @if (Model.BasionBregmaHeight != 0 && Model.BasionBregmaHeight != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BasionBregmaHeight)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BasionBregmaHeight)
            </dd>
        }
        @if (Model.BasionNasion != 0 && Model.BasionNasion != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BasionNasion)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BasionNasion)
            </dd>
        }
        @if (Model.BasionProsthionLength != 0 && Model.BasionProsthionLength != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BasionProsthionLength)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BasionProsthionLength)
            </dd>
        }
        @if (Model.BizygomaticDiameter != 0 && Model.BizygomaticDiameter != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BizygomaticDiameter)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BizygomaticDiameter)
            </dd>
        }
        @if (Model.NasionProsthion != 0 && Model.NasionProsthion != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.NasionProsthion)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NasionProsthion)
            </dd>
        }
        @if (Model.MaximumNasalBreadth != 0 && Model.MaximumNasalBreadth != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.MaximumNasalBreadth)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MaximumNasalBreadth)
            </dd>
        }
        @if (Model.InterorbitalBreadth != 0 && Model.InterorbitalBreadth != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.InterorbitalBreadth)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.InterorbitalBreadth)
            </dd>
        }
        @if (Model.ArtifactsDescription != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ArtifactsDescription)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ArtifactsDescription)
            </dd>
        }
        @if (Model.HairColor != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.HairColor)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.HairColor)
            </dd>
        }
        @if (Model.PreservationIndex != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PreservationIndex)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PreservationIndex)
            </dd>
        }
        @if (Model.HairTaken == true)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.HairTaken)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.HairTaken)
            </dd>
        }
        @if (Model.SoftTissueTaken == true)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.SoftTissueTaken)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SoftTissueTaken)
            </dd>
        }
        @if (Model.BoneTaken == true)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BoneTaken)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BoneTaken)
            </dd>
        }
        @if (Model.ToothTaken == true)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ToothTaken)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ToothTaken)
            </dd>
        }
        @if (Model.TextileTaken == true)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TextileTaken)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TextileTaken)
            </dd>
        }
        @if (Model.DescriptionOfTaken != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DescriptionOfTaken)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DescriptionOfTaken)
            </dd>
        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ArtifactFound)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ArtifactFound)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EstimateAge)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EstimateAge)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EstimateLivingStature)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EstimateLivingStature)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ToothAttrition)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ToothAttrition)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ToothEruption)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ToothEruption)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PathologyAnomalies)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PathologyAnomalies)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EpiphysealUnion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EpiphysealUnion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.YearFound)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.YearFound)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MonthFound)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MonthFound)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DayFound)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DayFound)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HeadDirection)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HeadDirection)
        </dd>
    </dl>
</div>
<div>
    @if (signInManager.IsSignedIn(User) && (User.IsInRole("Admin") || (User.IsInRole("Researcher"))))
    {
        <a asp-action="Edit" asp-route-id="@Model.BurialId" class="btn btn-info m-1">Edit</a>

    }
    <a asp-action="Index" class="btn btn-secondary m-1">Back to List</a>
</div>

@if ((Model.GeFunctionTotal) != 0 && (Model.GeFunctionTotal) != null)
{
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.GeFunctionTotal)
</dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.GeFunctionTotal)
                </dd>}

