@model Intex.Burials
@inject SignInManager<IdentityUser> signInManager;

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Burial Entry Details</h1>

@*Show all details for a selected entry*@

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            Burial Location
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.BurialLocation)
        </dd>
        <dt class="col-sm-3">
            Burial Location North to South
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.BurialLocationNs)
        </dd>
        <dt class="col-sm-3">
            Burial Location East to West
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.BurialLocationEw)
        </dd>
        <dt class="col-sm-3">
            Low Pair North to South
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.LowPairNs)
        </dd>
        <dt class="col-sm-3">
            High Pair North to South
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.HighPairNs)
        </dd>
        <dt class="col-sm-3">
            Low Pair East to West
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.LowPairEw)
        </dd>
        <dt class="col-sm-3">
            High Pair East to West
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.HighPairEw)
        </dd>
        <dt class="col-sm-3">
            Burial Subplot
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.BurialSubplot)
        </dd>
        <dt class="col-sm-3">
            Burial Number
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.BurialNumber)
        </dd>
        @if (Model.SampleNumber != null)
        {
            <dt class="col-sm-3">
                Sample Number
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.SampleNumber)
            </dd>
        }
        <dt class="col-sm-3">
            Burial Depth
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.BurialDepth)
        </dd>
        <dt class="col-sm-3">
            South to Head
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.SouthToHead)
        </dd>
        <dt class="col-sm-3">
            South to Feet
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.SouthToFeet)
        </dd>
        <dt class="col-sm-3">
            East to Head
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.EastToHead)
        </dd>
        <dt class="col-sm-3">
            East to Feet
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.EastToFeet)
        </dd>
        <dt class="col-sm-3">
            Burial Situation
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.BurialSituation)
        </dd>
        @if (Model.LengthOfRemains != null)
        {
            <dt class="col-sm-3">
                Length of Remains
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.LengthOfRemains)
            </dd>
        }
        <dt class="col-sm-3">
            Gender Ge
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.GenderGe)
        </dd>
        @if (Model.GeFunctionTotal != 0 && Model.GeFunctionTotal != null)
        {
            <dt class="col-sm-3">
                Gender Function
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.GeFunctionTotal)
            </dd>
        }
        <dt class="col-sm-3">
            Gender Body Column
        </dt>

        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.GenderBodyCol)
        </dd>
        @if (Model.BasilarSuture != null)
        {
            <dt class="col-sm-3">
                Basilar Suture
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.BasilarSuture)
            </dd>
        }
        @if (Model.VentralArc != 0 && Model.VentralArc != null)
        {
            <dt class="col-sm-3">
                Ventral Arc
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.VentralArc)
            </dd>
        }
        @if (Model.SubpubicAngle != 0 && Model.SubpubicAngle != null)
        {
            <dt class="col-sm-3">
                Subpubic Angle
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.SubpubicAngle)
            </dd>
        }
        @if (Model.SciaticNotch != 0 && Model.SciaticNotch != null)
        {
            <dt class="col-sm-3">
                Sciatic Notch
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.SciaticNotch)
            </dd>
        }
        @if (Model.PubicBone != 0 && Model.PubicBone != null)
        {
            <dt class="col-sm-3">
                Pubic Bone
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.PubicBone)
            </dd>
        }
        @if (Model.PreaurSulcus != 0 && Model.PreaurSulcus != null)
        {
            <dt class="col-sm-3">
                Preaur Sulcus
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.PreaurSulcus)
            </dd>
        }
        @if (Model.MedialIpRamus != 0 && Model.MedialIpRamus != null)
        {
            <dt class="col-sm-3">
                Medial Ip Ramus
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.MedialIpRamus)
            </dd>
        }
        @if (Model.DorsalPitting != 0 && Model.DorsalPitting != null)
        {
            <dt class="col-sm-3">
                Dorsal Pitting
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.DorsalPitting)
            </dd>
        }
        @if (Model.ForemanMagnum != 0 && Model.ForemanMagnum != null)
        {
            <dt class="col-sm-3">
                Foreman Magnum
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.ForemanMagnum)
            </dd>
        }
        @if (Model.FemurHead != 0 && Model.FemurHead != null)
        {
            <dt class="col-sm-3">
                Femur Head
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.FemurHead)
            </dd>
        }
        @if (Model.HumerusHead != 0 && Model.HumerusHead != null)
        {
            <dt class="col-sm-3">
                Humerus Head
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.HumerusHead)
            </dd>
        }
        @if (Model.Osteophytosis != null)
        {
            <dt class="col-sm-3">
                Osteophytosis
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Osteophytosis)
            </dd>
        }
        @if (Model.PubicSymphysis != null)
        {
            <dt class="col-sm-3">
                Pubic Symphysis
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.PubicSymphysis)
            </dd>
        }
        @if (Model.BoneLength != 0 && Model.BoneLength != null)
        {
            <dt class="col-sm-3">
                Bone Length
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.BoneLength)
            </dd>
        }
        @if (Model.FemurLength != 0 && Model.FemurLength != null)
        {
            <dt class="col-sm-3">
                Femur Length
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.FemurLength)
            </dd>
        }
        @if (Model.HumerusLength != 0 && Model.HumerusLength != null)
        {
            <dt class="col-sm-3">
                Humerus Length
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.HumerusLength)
            </dd>
        }
        @if (Model.TibiaLength != 0 && Model.TibiaLength != null)
        {
            <dt class="col-sm-3">
                Tibia Length
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.TibiaLength)
            </dd>
        }
        @if (Model.Robust != 0 && Model.Robust != null)
        {
            <dt class="col-sm-3">
                Robust
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Robust)
            </dd>
        }
        @if (Model.SupraorbitalRidges != 0 && Model.SupraorbitalRidges != null)
        {
            <dt class="col-sm-3">
                Supraorbital Ridges
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.SupraorbitalRidges)
            </dd>
        }
        @if (Model.OrbitEdge != 0 && Model.OrbitEdge != null)
        {
            <dt class="col-sm-3">
                Orbit Edge
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.OrbitEdge)
            </dd>
        }
        @if (Model.ParietalBossing != 0 && Model.ParietalBossing != null)
        {
            <dt class="col-sm-3">
                Parietal Bossing
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.ParietalBossing)
            </dd>
        }
        @if (Model.Gonian != 0 && Model.Gonian != null)
        {
            <dt class="col-sm-3">
                Gonian
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Gonian)
            </dd>
        }
        @if (Model.NuchalCrest != 0 && Model.NuchalCrest != null)
        {
            <dt class="col-sm-3">
                Nuchal Crest
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.NuchalCrest)
            </dd>
        }
        @if (Model.ZygomaticCrest != 0 && Model.ZygomaticCrest != null)
        {
            <dt class="col-sm-3">
                Zygomatic Crest
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.ZygomaticCrest)
            </dd>
        }
        @if (Model.CranialSuture != null)
        {
            <dt class="col-sm-3">
                Cranial Suture
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.CranialSuture)
            </dd>
        }
        @if (Model.MaximumCranialLength != 0 && Model.MaximumCranialLength != null)
        {
            <dt class="col-sm-3">
                Maximum Cranial Length
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.MaximumCranialLength)
            </dd>
        }
        @if (Model.MaximumCranialBreadth != 0 && Model.MaximumCranialBreadth != null)
        {
            <dt class="col-sm-3">
                Maximum Cranial Breadth
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.MaximumCranialBreadth)
            </dd>
        }
        @if (Model.BasionBregmaHeight != 0 && Model.BasionBregmaHeight != null)
        {
            <dt class="col-sm-3">
                Basion Bregma Height
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.BasionBregmaHeight)
            </dd>
        }
        @if (Model.BasionNasion != 0 && Model.BasionNasion != null)
        {
            <dt class="col-sm-3">
                Basion Nasion
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.BasionNasion)
            </dd>
        }
        @if (Model.BasionProsthionLength != 0 && Model.BasionProsthionLength != null)
        {
            <dt class="col-sm-3">
                Basion Prosthion Length
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.BasionProsthionLength)
            </dd>
        }
        @if (Model.BizygomaticDiameter != 0 && Model.BizygomaticDiameter != null)
        {
            <dt class="col-sm-3">
                Bizygomatic Diameter
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.BizygomaticDiameter)
            </dd>
        }
        @if (Model.NasionProsthion != 0 && Model.NasionProsthion != null)
        {
            <dt class="col-sm-3">
                Nasion Prosthion
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.NasionProsthion)
            </dd>
        }
        @if (Model.MaximumNasalBreadth != 0 && Model.MaximumNasalBreadth != null)
        {
            <dt class="col-sm-3">
                Maximum Nasal Breadth
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.MaximumNasalBreadth)
            </dd>
        }
        @if (Model.InterorbitalBreadth != 0 && Model.InterorbitalBreadth != null)
        {
            <dt class="col-sm-3">
                Interorbital Breadth
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.InterorbitalBreadth)
            </dd>
        }
        @if (Model.ArtifactsDescription != null)
        {
            <dt class="col-sm-3">
                Artifacts Description
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.ArtifactsDescription)
            </dd>
        }
        @if (Model.HairColor != null)
        {
            <dt class="col-sm-3">
                Hair Color
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.HairColor)
            </dd>
        }
        @if (Model.PreservationIndex != null)
        {
            <dt class="col-sm-3">
                Preservation Index
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.PreservationIndex)
            </dd>
        }
        @if (Model.HairTaken == true)
        {
            <dt class="col-sm-3">
                Hair Taken
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.HairTaken)
            </dd>
        }
        @if (Model.SoftTissueTaken == true)
        {
            <dt class="col-sm-3">
                Soft Tissue Taken
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.SoftTissueTaken)
            </dd>
        }
        @if (Model.BoneTaken == true)
        {
            <dt class="col-sm-3">
                Bone Taken
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.BoneTaken)
            </dd>
        }
        @if (Model.ToothTaken == true)
        {
            <dt class="col-sm-3">
                Tooth Taken
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.ToothTaken)
            </dd>
        }
        @if (Model.TextileTaken == true)
        {
            <dt class="col-sm-3">
                Textile Taken
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.TextileTaken)
            </dd>
        }
        @if (Model.DescriptionOfTaken != null)
        {
            <dt class="col-sm-3">
                Description of Taken
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.DescriptionOfTaken)
            </dd>
        }
        @if (Model.ArtifactFound == true)
        {
            <dt class="col-sm-3">
                Artifact Found
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.ArtifactFound)
            </dd>
        }
        @if (Model.EstimateAge != null)
        {
            <dt class="col-sm-3">
                Estimate Age
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.EstimateAge)
            </dd>
        }
        @if (Model.EstimateLivingStature != null)
        {
            <dt class="col-sm-3">
                Estimate Living Stature
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.EstimateLivingStature)
            </dd>
        }
        @if (Model.ToothAttrition != null)
        {
            <dt class="col-sm-3">
                Tooth Attrition
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.ToothAttrition)
            </dd>
        }
        @if (Model.ToothEruption != null)
        {
            <dt class="col-sm-3">
                Tooth Eruption
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.ToothEruption)
            </dd>
        }
        @if (Model.PathologyAnomalies != null)
        {
            <dt class="col-sm-3">
                Pathology Anomalies
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.PathologyAnomalies)
            </dd>
        }
        @if (Model.EpiphysealUnion != null)
        {
            <dt class="col-sm-3">
                Epiphyseal Union
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.EpiphysealUnion)
            </dd>
        }
        @if (Model.DayFound != null || Model.MonthFound != null || Model.YearFound != null)
        {
            <dt class="col-sm-3">
                Date Found
            </dt>
            @if (Html.DisplayFor(model => model.DayFound) == null && Html.DisplayFor(model => model.MonthFound) == null)
            {
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.YearFound)
                </dd>
            }
            @if (Html.DisplayFor(model => model.DayFound) == null && Html.DisplayFor(model => model.MonthFound) != null)
            {
                <dd class="col-sm-9">
                    @String.Concat(Model.MonthFound, " ", Model.YearFound)
                </dd>
            }
            @if (@Html.DisplayFor(model => model.DayFound) != null)
            {
                <dd class="col-sm-9">
                    @String.Concat(Model.MonthFound, " ", Model.DayFound, ", ", Model.YearFound)
                </dd>
            }
        }
        @if (Model.HeadDirection != null)
        {
            <dt class="col-sm-3">
                Head Direction
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.HeadDirection)
            </dd>
        }
    </dl>
</div>
<div>
    @if (signInManager.IsSignedIn(User) && (User.IsInRole("Admin") || (User.IsInRole("Researcher"))))
    {
        <a asp-action="Edit" asp-route-id="@Model.BurialId" class="btn btn-brownsugar m-1">Edit</a>

    }
    <a asp-action="Index" class="btn btn-secondary m-1">Back to List</a>
</div>