@model IndexViewModel
@inject SignInManager<IdentityUser> signInManager;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Burial Entries</h1>

@if (signInManager.IsSignedIn(User) && (User.IsInRole("Admin") || (User.IsInRole("Researcher"))))
{
    <a class="btn btn-success m-1" asp-action="Create">Add New Entry</a>
    <br />
}

<!--BEGINNING OF RACHELS CODE-->
<div class="row">
    <div class="col-sm-2">

        <form asp-action="Filter" method="post">

            <div class="form-group">
                <label>North or South</label>
                <select name="filter" class="form-control"
                        asp-items="@(new SelectList(ViewBag.BurialLocationNs, "BurialLocationNs", "NS", ViewBag.Filters.BurialLocationNs))">
                    <option value="all">All</option>
                </select>
            </div>
            <div class="form-group">
                <label>East or West</label>
                <select name="filter" class="form-control"
                        asp-items="@(new SelectList(ViewBag.BurialLocationEw, "BurialLocationEw", "EW", ViewBag.Filters.BurialLocationEw))">
                    <option value="all">All</option>
                </select>
            </div>

            <div class="form-group">
                <label>Head Direction</label>
                <select name="filter" class="form-control"
                        asp-items="@(new SelectList(ViewBag.HeadDirectionFilters, "Key", "Value", ViewBag.Filters.HeadDirection))">
                    <option value="all">All</option>
                </select>
            </div>

            <div class="form-group">
                <label>Year Found</label>
                <select name="filter" class="form-control"
                        asp-items="@(new SelectList(ViewBag.YearFound, "YearFound", "Year", ViewBag.Filters.YearFound))">
                    <option value="all">All</option>
                </select>
            </div>

            <div class="form-group">
                <label>Hair Color</label>
                <select name="filter" class="form-control"
                        asp-items="@(new SelectList(ViewBag.HairColor, "HairColor", "HairColor", ViewBag.Filters.HairColor))">
                    <option value="all">All</option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Filter</button>

            <a asp-action="Index" asp-route-id="" class="btn btn-primary">Clear</a>

        </form>
    </div>
    <!--END OF RACHELS CODE-->

    <<<<<<< HEAD

    <table class="table">
        <thead>
            <tr>
                <th>
                    Burial Number
                </th>
                <th>
                    Burial Location
                </th>
                <th>
                    Burial Depth
                </th>
                <th>
                    Burial Situation
                </th>
                <th>
                    Date Found
                </th>
                <th>
                    Head Direction
                </th>
                <th></th>
                =======
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Burial Number
                            </th>
                            <th>
                                Burial Location
                            </th>
                            <th>
                                Burial Depth
                            </th>
                            <th>
                                Burial Situation
                            </th>
                            <th>
                                Date Found
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Burials)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BurialNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BurialLocation)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BurialDepth)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BurialSituation)
                                </td>
                                <td>
                                    @if (item.DayFound == null && item.MonthFound == null)
                                    {
                                        @Html.DisplayFor(modelItem => item.YearFound)
                                    }
                                    @if (item.DayFound == null && item.MonthFound != null)
                                    {
                                        @String.Concat(item.MonthFound, " ", item.YearFound)
                                    }
                                    @if (item.DayFound != null)
                                    {
                                        @String.Concat(item.MonthFound, " ", item.DayFound, ", ", item.YearFound)
                                    }
                                </td>
                                <td>
                                    @if (signInManager.IsSignedIn(User) && (User.IsInRole("Admin") || (User.IsInRole("Researcher"))))
                                    {
                                        <a asp-action="Edit" asp-route-id="@item.BurialId" class="btn btn-secondary m-1" style="width: 80px">Edit</a>
                                    }

                                    <a asp-action="Details" asp-route-id="@item.BurialId" class="btn btn-info m-1" style="width: 80px">Details</a>
                                    @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                                    {
                                        <a asp-action="Delete" asp-route-id="@item.BurialId" class="btn btn-danger m-1" style="width: 80px">Delete</a>
                                    }
                                </td>
                                >>>>>>> 113252418fc90c0a075da9c3c2a421119130dcc9
                            </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Burials)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.BurialNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BurialLocation)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BurialDepth)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BurialSituation)
                        </td>
                        <td>
                            @if (Html.DisplayFor(modelItem => item.DayFound) == null && Html.DisplayFor(modelItem => item.MonthFound) == null)
                            {
                                @Html.DisplayFor(modelItem => item.YearFound)
                            }
                            @if (Html.DisplayFor(modelItem => item.DayFound) == null && Html.DisplayFor(modelItem => item.MonthFound) != null)
                            {
                                @Html.DisplayFor(modelItem => item.MonthFound) @Html.DisplayFor(modelItem => item.YearFound)
                            }
                            @if (Html.DisplayFor(modelItem => item.DayFound) != null)
                            {
                                @Html.DisplayFor(modelItem => item.MonthFound); @Html.DisplayFor(modelItem => item.DayFound); @Html.DisplayFor(modelItem => item.YearFound)
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HeadDirection)
                        </td>
                        <td>
                            @if (signInManager.IsSignedIn(User) && (User.IsInRole("Admin") || (User.IsInRole("Researcher"))))
                            {
                                <a asp-action="Edit" asp-route-id="@item.BurialId" class="btn btn-secondary m-1" style="width: 80px">Edit</a>
                            }

                            <a asp-action="Details" asp-route-id="@item.BurialId" class="btn btn-info m-1" style="width: 80px">Details</a>
                            @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                            {
                                <a asp-action="Delete" asp-route-id="@item.BurialId" class="btn btn-danger m-1" style="width: 80px">Delete</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="text-center">
            <div page-model="@Model.PagingInfo"
                 page-classes-enabled="true"
                 page-class="btn"
                 page-class-normal="btn-outline-dark"
                 page-class-selected="btn-primary"
                 class="btn-group pull-right m-1"></div>
        </div>

