@model IndexViewModel
@inject SignInManager<IdentityUser> signInManager;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Burial Entries</h1>

@if (signInManager.IsSignedIn(User) && (User.IsInRole("Admin") || (User.IsInRole("Researcher"))))
{
    <a class="btn btn-success m-1" asp-action="Create">Add New Entry</a>
    <br />
}

<table class="table">
    <thead>
        <tr>
            <th>
                Burial Number
            </th>
            <th>
                Burial Location
            </th>
            <th>
                Burial Depth
            </th>
            <th>
                Burial Situation
            </th>
            <th>
                Date Found
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Burials)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BurialNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BurialLocation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BurialDepth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BurialSituation)
                </td>
                <td>
                    @if (item.DayFound == null && item.MonthFound == null)
                    {
                        @Html.DisplayFor(modelItem => item.YearFound)
                    }
                    @if (item.DayFound == null && item.MonthFound != null)
                    {
                        @String.Concat(item.MonthFound, " ", item.YearFound)
                    }
                    @if (item.DayFound != null)
                    {
                        @String.Concat(item.MonthFound, " ", item.DayFound, ", ", item.YearFound)
                    }
                </td>
                <td>
                    @if (signInManager.IsSignedIn(User) && (User.IsInRole("Admin") || (User.IsInRole("Researcher"))))
                    {
                        <a asp-action="Edit" asp-route-id="@item.BurialId" class="btn btn-secondary m-1" style="width: 80px">Edit</a>
                    }

                    <a asp-action="Details" asp-route-id="@item.BurialId" class="btn btn-info m-1" style="width: 80px">Details</a>
                    @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                    {
                        <a asp-action="Delete" asp-route-id="@item.BurialId" class="btn btn-danger m-1" style="width: 80px">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="text-center">
    <div page-model="@Model.PagingInfo"
         page-classes-enabled="true"
         page-class="btn"
         page-class-normal="btn-outline-dark"
         page-class-selected="btn-primary"
         class="btn-group pull-right m-1"></div>
</div>

