@model IndexViewModel
@inject SignInManager<IdentityUser> signInManager;

@{
    ViewData["Title"] = "Burials";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<<<<<<< Updated upstream
@section header{
    <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#demo").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#test tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
}

<h1>Burials Data</h1>
=======
<h1>Burials</h1>
>>>>>>> Stashed changes

@if (signInManager.IsSignedIn(User) && (User.IsInRole("Admin") || (User.IsInRole("Researcher"))))
{
    <a class="btn btn-success m-1" asp-action="Create">Add New Entry</a>
    <br />
}

<div class="container">
    <h6>Quick filter for data on this page</h6>
    <input class="form-control" id="demo" type="text" placeholder="Enter your search term here...">
    <br />
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    Burial Number
                </th>
                <th>
                    Burial Location
                </th>
                <th>
                    Burial Depth
                </th>
                <th>
                    Burial Situation
                </th>
                <th>
                    Date Found
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody id="test">
            @foreach (var item in Model.Burials)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.BurialNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BurialLocation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BurialDepth)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BurialSituation)
                    </td>
                    <td>
                        @if (item.DayFound == null && item.MonthFound == null)
                        {
                            @Html.DisplayFor(modelItem => item.YearFound)
                        }
                        @if (item.DayFound == null && item.MonthFound != null)
                        {
                            @String.Concat(item.MonthFound, " ", item.YearFound)
                        }
                        @if (item.DayFound != null)
                        {
                            @String.Concat(item.MonthFound, " ", item.DayFound, ", ", item.YearFound)
                        }
                    </td>
                    <td>
                        @if (signInManager.IsSignedIn(User) && (User.IsInRole("Admin") || (User.IsInRole("Researcher"))))
                        {
                            <a asp-action="Edit" asp-route-id="@item.BurialId" class="btn btn-secondary m-1" style="width: 80px">Edit</a>
                        }

                        <a asp-action="Details" asp-route-id="@item.BurialId" class="btn btn-info m-1" style="width: 80px">Details</a>
                        @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                        {
                            <a asp-action="Delete" asp-route-id="@item.BurialId" class="btn btn-danger m-1" style="width: 80px">Delete</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

    <div class="text-center">
        <div page-model="@Model.PagingInfo"
             page-classes-enabled="true"
             page-class="btn"
             page-class-normal="btn-outline-dark"
             page-class-selected="btn-primary"
             class="btn-group pull-right m-1"></div>
    </div>

