@model IEnumerable<Intex.Burials>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Burial Entries</h1>

<p>
    <a asp-action="Create" class="btn btn-success m-1">Add New Entry</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Burial Number
            </th>
            <th>
                Burial Location
            </th>
            <th>
                Burial Depth
            </th>
            <th>
                Burial Situation
            </th>
            <th>
                Date Found
            </th>
            <th>
                Head Direction
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BurialNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BurialLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BurialDepth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BurialSituation)
            </td>
            <td>
                @if (Html.DisplayFor(modelItem => item.DayFound) == null && Html.DisplayFor(modelItem => item.MonthFound) == null)
                {
                    @Html.DisplayFor(modelItem => item.YearFound)
                }
                @if (Html.DisplayFor(modelItem => item.DayFound) == null && Html.DisplayFor(modelItem => item.MonthFound) != null)
                {
                    @Html.DisplayFor(modelItem => item.MonthFound) @Html.DisplayFor(modelItem => item.YearFound)
                }
                @if (Html.DisplayFor(modelItem => item.DayFound) != null)
                {
                    @Html.DisplayFor(modelItem => item.MonthFound); @Html.DisplayFor(modelItem => item.DayFound); @Html.DisplayFor(modelItem => item.YearFound)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HeadDirection)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BurialId" class="btn btn-secondary m-1" style="width: 80px">Edit</a>
                <a asp-action="Details" asp-route-id="@item.BurialId" class="btn btn-info m-1" style="width: 80px">Details</a>
                <a asp-action="Delete" asp-route-id="@item.BurialId" class="btn btn-danger m-1" style="width: 80px">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
