@{
    ViewData["Title"] = "PDFs";
    @inject SignInManager<IdentityUser> signInManager;
    @model IEnumerable<PDFFile>
}

<h1>Downloadable PDF Versions of Our Data</h1>
<br />

<div id="accordion">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Osteology Data
                </button>
            </h5>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                @foreach (var p in Model)
                {
                    @if (p.FileId == 1)
                    {
                        <div class="input-group">

                            <a href="~/pdf/Osteology Data/@p.Path" class="btn btn-outline-dark form-control" target="_blank">@p.Name</a>

                            @if (signInManager.IsSignedIn(User) && (User.IsInRole("Admin") || (User.IsInRole("Researcher"))))
                            {
                                <form asp-action="DeleteFile" method="post">
                                    <input type="hidden" name="Id" value="@p.Id" />
                                    <span id="confirmDeleteSpan_@p.Id" style="display:none">
                                        <span>Are you sure you want to delete?</span>
                                        <button type="submit" class="btn btn-danger">Yes</button>
                                        <a href="#" class="btn btn-secondary"
                                           onclick="confirmDelete('@p.Id', false)">No</a>
                                    </span>
                                    <span id="deleteSpan_@p.Id">
                                        <a href="#" class="btn btn-danger form-control" onclick="confirmDelete('@p.Id', true)">Delete</a>
                                    </span>
                                </form>
                            }
                        </div>
                    }
                }

                @if (signInManager.IsSignedIn(User) && (User.IsInRole("Admin") || (User.IsInRole("Researcher"))))
                {
                    <a class="btn btn-success m-1"
                       asp-controller="Home"
                       asp-action="PDFDataUpload"
                       asp-route-category="Osteology Data"
                       asp-route-fileId="1">Add a New Entry</a>
                }
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Field Books
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
                @foreach (var p in Model)
                {
                    @if (p.FileId == 2)
                    {
                        <div class="input-group">

                            <a href="~/pdf/Field Books/@p.Path" class="btn btn-outline-dark form-control" target="_blank">@p.Name</a>

                            @if (signInManager.IsSignedIn(User) && (User.IsInRole("Admin") || (User.IsInRole("Researcher"))))
                            {
                                <form asp-action="DeleteFile" method="post">
                                    <input type="hidden" name="Id" value="@p.Id" />
                                    <span id="confirmDeleteSpan_@p.Id" style="display:none">
                                        <span>Are you sure you want to delete?</span>
                                        <button type="submit" class="btn btn-danger">Yes</button>
                                        <a href="#" class="btn btn-secondary"
                                           onclick="confirmDelete('@p.Id', false)">No</a>
                                    </span>
                                    <span id="deleteSpan_@p.Id">
                                        <a href="#" class="btn btn-danger form-control" onclick="confirmDelete('@p.Id', true)">Delete</a>
                                    </span>
                                </form>
                            }
                        </div>
                    }
                }

                @if (signInManager.IsSignedIn(User) && (User.IsInRole("Admin") || (User.IsInRole("Researcher"))))
                {
                    <a class="btn btn-success m-1"
                       asp-controller="Home"
                       asp-action="PDFDataUpload"
                       asp-route-category="Field Book"
                       asp-route-fileId="2">Add a New Entry</a>
                }
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="btn collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Archaeological Database Articles
                </button>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
                @foreach (var p in Model)
                {
                    @if (p.FileId == 3)
                    {
                        <div class="input-group">

                            <a href="~/pdf/Archaeological Database Articles/@p.Path" class="btn btn-outline-dark form-control" target="_blank">@p.Name</a>

                            @if (signInManager.IsSignedIn(User) && (User.IsInRole("Admin") || (User.IsInRole("Researcher"))))
                            {
                                <form asp-action="DeleteFile" method="post">
                                    <input type="hidden" name="Id" value="@p.Id" />
                                    <span id="confirmDeleteSpan_@p.Id" style="display:none">
                                        <span>Are you sure you want to delete?</span>
                                        <button type="submit" class="btn btn-danger">Yes</button>
                                        <a href="#" class="btn btn-secondary"
                                           onclick="confirmDelete('@p.Id', false)">No</a>
                                    </span>
                                    <span id="deleteSpan_@p.Id">
                                        <a href="#" class="btn btn-danger form-control" onclick="confirmDelete('@p.Id', true)">Delete</a>
                                    </span>
                                </form>
                            }
                        </div>
                    }
                }

                @if (signInManager.IsSignedIn(User) && (User.IsInRole("Admin") || (User.IsInRole("Researcher"))))
                {
                    <a class="btn btn-success m-1"
                       asp-controller="Home"
                       asp-action="PDFDataUpload"
                       asp-route-category="Archaeological Database Article"
                       asp-route-fileId="3">Add a New Entry</a>
                }
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingFour">
            <h5 class="mb-0">
                <button class="btn collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    Other Files
                </button>
            </h5>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
            <div class="card-body">
                @foreach (var p in Model)
                {
                    @if (p.FileId == 4)
                    {
                        <div class="input-group">

                            <a href="~/pdf/Misc Data/@p.Path" class="btn btn-outline-dark form-control" target="_blank">@p.Name</a>

                            @if (signInManager.IsSignedIn(User) && (User.IsInRole("Admin") || (User.IsInRole("Researcher"))))
                            {
                                <form asp-action="DeleteFile" method="post">
                                    <input type="hidden" name="Id" value="@p.Id" />
                                    <span id="confirmDeleteSpan_@p.Id" style="display:none">
                                        <span>Are you sure you want to delete?</span>
                                        <button type="submit" class="btn btn-danger">Yes</button>
                                        <a href="#" class="btn btn-secondary"
                                           onclick="confirmDelete('@p.Id', false)">No</a>
                                    </span>
                                    <span id="deleteSpan_@p.Id">
                                        <a href="#" class="btn btn-danger form-control" onclick="confirmDelete('@p.Id', true)">Delete</a>
                                    </span>
                                </form>
                            }
                        </div>
                    }
                }

                @if (signInManager.IsSignedIn(User) && (User.IsInRole("Admin") || (User.IsInRole("Researcher"))))
                {
                    <a class="btn btn-success m-1"
                       asp-controller="Home"
                       asp-action="PDFDataUpload"
                       asp-route-category="Other"
                       asp-route-fileId="4">Add a New Entry</a>
                }
            </div>
        </div>
    </div>
</div>


@*Pull in JS for confirm delete*@
@section Scripts {
    <script src="~/js/CustomScript.js"></script>
}