@{
    ViewData["Title"] = "Field Books, Bone Books, Archealogical Articles, and More";
    @inject SignInManager<IdentityUser> signInManager;
    @model IEnumerable<PDFFile>
}

@*Display a sexy masthead image to welcome the user to the page*@
@section masthead{
    <partial name="_BigOlPicturesPartial" />
}

<br />

<div class="text-center">
    <h2>Choose a section below to see what kind of files you can download!</h2>
</div>

<br />

@*Show an accordian style menu with selections of what a user can download*@
<div id="accordion">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Osteology Data
                </button>
            </h5>
        </div>

        @*Only pull the PDFs if the correct file type is given. Otherwise do nothing with them. they will be used in the following accordians*@
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                @foreach (var p in Model)
                {
                    @if (p.FileId == 1)
                    {
                        <div class="input-group">

                            <a href="~/pdf/Osteology Data/@p.Path" class="btn btn-outline-dark form-control" target="_blank">@p.Name</a>

                            @*Allow an admin to delete an entry*@
                            @if (signInManager.IsSignedIn(User) && (User.IsInRole("Admin") || (User.IsInRole("Researcher"))))
                            {
                                <form asp-action="DeleteFile" method="post">
                                    <input type="hidden" name="Id" value="@p.Id" />
                                    <span id="confirmDeleteSpan_@p.Id" style="display:none">
                                        <span>Are you sure you want to delete?</span>
                                        <button type="submit" class="btn btn-cedarchest">Yes</button>
                                        <a href="#" class="btn btn-secondary"
                                           onclick="confirmDelete('@p.Id', false)">No</a>
                                    </span>
                                    <span id="deleteSpan_@p.Id">
                                        <a href="#" class="btn btn-cedarchest form-control" onclick="confirmDelete('@p.Id', true)">Delete</a>
                                    </span>
                                </form>
                            }
                        </div>
                    }
                }

                @*Allow an admin to add an entry*@
                @if (signInManager.IsSignedIn(User) && (User.IsInRole("Admin") || (User.IsInRole("Researcher"))))
                {
                    <a class="btn btn-egyptianblue m-1"
                       asp-controller="Home"
                       asp-action="PDFDataUpload"
                       asp-route-category="Osteology Data"
                       asp-route-fileId="1">Add a New Entry</a>
                }
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Field Books
                </button>
            </h5>
        </div>

        @*Only pull the PDFs if the correct file type is given. Otherwise do nothing with them. they will be used in the following accordians*@
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
                @foreach (var p in Model)
                {
                    @if (p.FileId == 2)
                    {
                        <div class="input-group">

                            <a href="~/pdf/Field Books/@p.Path" class="btn btn-outline-dark form-control" target="_blank">@p.Name</a>

                            @*Allow an admin to delete an entry*@
                            @if (signInManager.IsSignedIn(User) && (User.IsInRole("Admin") || (User.IsInRole("Researcher"))))
                            {
                                <form asp-action="DeleteFile" method="post">
                                    <input type="hidden" name="Id" value="@p.Id" />
                                    <span id="confirmDeleteSpan_@p.Id" style="display:none">
                                        <span>Are you sure you want to delete?</span>
                                        <button type="submit" class="btn btn-cedarchest">Yes</button>
                                        <a href="#" class="btn btn-secondary"
                                           onclick="confirmDelete('@p.Id', false)">No</a>
                                    </span>
                                    <span id="deleteSpan_@p.Id">
                                        <a href="#" class="btn btn-cedarchest form-control" onclick="confirmDelete('@p.Id', true)">Delete</a>
                                    </span>
                                </form>
                            }
                        </div>
                    }
                }

                @*Allow an admin to add an entry*@
                @if (signInManager.IsSignedIn(User) && (User.IsInRole("Admin") || (User.IsInRole("Researcher"))))
                {
                    <a class="btn btn-egyptianblue m-1"
                       asp-controller="Home"
                       asp-action="PDFDataUpload"
                       asp-route-category="Field Book"
                       asp-route-fileId="2">Add a New Entry</a>
                }
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="btn collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Archaeological Database Articles
                </button>
            </h5>
        </div>

        @*Only pull the PDFs if the correct file type is given. Otherwise do nothing with them. they will be used in the following accordians*@
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
                @foreach (var p in Model)
                {
                    @if (p.FileId == 3)
                    {
                        <div class="input-group">

                            <a href="~/pdf/Archaeological Database Articles/@p.Path" class="btn btn-outline-dark form-control" target="_blank">@p.Name</a>

                            @*Allow an admin to delete an entry*@
                            @if (signInManager.IsSignedIn(User) && (User.IsInRole("Admin") || (User.IsInRole("Researcher"))))
                            {
                                <form asp-action="DeleteFile" method="post">
                                    <input type="hidden" name="Id" value="@p.Id" />
                                    <span id="confirmDeleteSpan_@p.Id" style="display:none">
                                        <span>Are you sure you want to delete?</span>
                                        <button type="submit" class="btn btn-cedarchest">Yes</button>
                                        <a href="#" class="btn btn-secondary"
                                           onclick="confirmDelete('@p.Id', false)">No</a>
                                    </span>
                                    <span id="deleteSpan_@p.Id">
                                        <a href="#" class="btn btn-cedarchest form-control" onclick="confirmDelete('@p.Id', true)">Delete</a>
                                    </span>
                                </form>
                            }
                        </div>
                    }
                }

                @*Allow an admin to add an entry*@
                @if (signInManager.IsSignedIn(User) && (User.IsInRole("Admin") || (User.IsInRole("Researcher"))))
                {
                    <a class="btn btn-egyptianblue m-1"
                       asp-controller="Home"
                       asp-action="PDFDataUpload"
                       asp-route-category="Archaeological Database Article"
                       asp-route-fileId="3">Add a New Entry</a>
                }
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingFour">
            <h5 class="mb-0">
                <button class="btn collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    Other Files
                </button>
            </h5>
        </div>
        @*Catch all if what a researcher wants to upload doesn't fit in with the previous sections*@
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
            <div class="card-body">
                @foreach (var p in Model)
                {
                    @if (p.FileId == 4)
                    {
                        <div class="input-group">

                            <a href="~/pdf/Misc Data/@p.Path" class="btn btn-outline-dark form-control" target="_blank">@p.Name</a>

                            @*Allow an admin to delete an entry*@
                            @if (signInManager.IsSignedIn(User) && (User.IsInRole("Admin") || (User.IsInRole("Researcher"))))
                            {
                                <form asp-action="DeleteFile" method="post">
                                    <input type="hidden" name="Id" value="@p.Id" />
                                    <span id="confirmDeleteSpan_@p.Id" style="display:none">
                                        <span>Are you sure you want to delete?</span>
                                        <button type="submit" class="btn btn-cedarchest">Yes</button>
                                        <a href="#" class="btn btn-secondary"
                                           onclick="confirmDelete('@p.Id', false)">No</a>
                                    </span>
                                    <span id="deleteSpan_@p.Id">
                                        <a href="#" class="btn btn-cedarchest form-control" onclick="confirmDelete('@p.Id', true)">Delete</a>
                                    </span>
                                </form>
                            }
                        </div>
                    }
                }

                @*Allow an admin to add an entry*@
                @if (signInManager.IsSignedIn(User) && (User.IsInRole("Admin") || (User.IsInRole("Researcher"))))
                {
                    <a class="btn btn-egyptianblue m-1"
                       asp-controller="Home"
                       asp-action="PDFDataUpload"
                       asp-route-category="Other"
                       asp-route-fileId="4">Add a New Entry</a>
                }
            </div>
        </div>
    </div>
</div>

<br />
<br />

<div class="text-center">
    <img src="~/img/Logo_BYU_Excavations.jpg" class="img-fluid rounded"/>
</div>


@*Pull in JS for confirm delete*@
@section Scripts {
    <script src="~/js/CustomScript.js"></script>
}