@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {

        <p>Verify that your email address is correct: <strong>@Model.Email</strong>. If so, click the button below. </p>
        <a id="confirm-link" class="btn btn-primary" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
        <a id="confirm-link" class="btn btn-primary" href="@Model.EmailConfirmationUrl">Click here to start over</a>

    }
    else
    {
        <p>
            Please check your email to confirm your account.
        </p>
    }
}
