@model Intex.OracleSpreads
@inject SignInManager<IdentityUser> signInManager;

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Oracle Spreadsheet Entry Details</h1>

@*Show all details for a selected entry*@

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            Burial Square
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.BurialSquare)
        </dd>
        <dt class="col-sm-3">
            North or South
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Nors)
        </dd>
        <dt class="col-sm-3">
            Sq2
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Sq2)
        </dd>
        <dt class="col-sm-3">
            East or West
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Eorw)
        </dd>
        <dt class="col-sm-3">
            Area
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Area)
        </dd>
        <dt class="col-sm-3">
            Burial Number
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Burialnum)
        </dd>
        <dt class="col-sm-3">
            West to Head
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Westtohead)
        </dd>
        <dt class="col-sm-3">
            West to Feet
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Westtofeet)
        </dd>
        <dt class="col-sm-3">
            South to Head
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Southtohead)
        </dd>
        <dt class="col-sm-3">
            South to Feet
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Southtofeet)
        </dd>
        <dt class="col-sm-3">
            Depth
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Depth)
        </dd>
        <dt class="col-sm-3">
            Preservation Index
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Preservation)
        </dd>
        <dt class="col-sm-3">
            Burial Icon
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Burialicon)
        </dd>
        <dt class="col-sm-3">
            Sex
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Sex)
        </dd>
        <dt class="col-sm-3">
            Sex Determination Method
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Sexmethod)
        </dd>
        <dt class="col-sm-3">
            Age At Death
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Ageatdeath)
        </dd>
        <dt class="col-sm-3">
            Age Determination Method
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Agemethod)
        </dd>
        <dt class="col-sm-3">
            Hair Color
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Haircolor)
        </dd>
        <dt class="col-sm-3">
            Sample
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Sample)
        </dd>
    </dl>
</div>
<div>
    @if (signInManager.IsSignedIn(User) && (User.IsInRole("Admin") || (User.IsInRole("Researcher"))))
    {
        <a asp-action="Edit" asp-route-id="@Model.Gamous" class="btn btn-brownsugar m-1">Edit</a>

    }
    <a asp-action="Index" class="btn btn-secondary m-1">Back to List</a>
</div>