@model IndexViewModel
@inject SignInManager<IdentityUser> signInManager;

@{
    ViewData["Title"] = "Oracle Spreadsheet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Oracle Spreadsheet</h1>

@if (signInManager.IsSignedIn(User) && (User.IsInRole("Admin") || (User.IsInRole("Researcher"))))
{
    <a class="btn btn-success m-1" asp-action="Create">Add New Entry</a>
    <br />
}

<table class="table">
    <thead>
        <tr>
            <th>
                Burial Square
            </th>
            <th>
                Nors
            </th>
            <th>
                Sq2
            </th>
            <th>
                Eorw
            </th>
            <th>
                Area
            </th>
            <th>
                Burial Number
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OracleSpreads)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BurialSquare)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nors)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sq2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Eorw)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Area)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Burialnum)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Gamous" class="btn btn-secondary m-1" style="width: 80px">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Gamous" class="btn btn-info m-1" style="width: 80px">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Gamous" class="btn btn-danger m-1" style="width: 80px">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<div class="text-center">
    <div page-model="@Model.PagingInfo"
         page-classes-enabled="true"
         page-class="btn"
         page-class-normal="btn-outline-dark"
         page-class-selected="btn-primary"
         class="btn-group pull-right m-1"></div>
</div>