@model IEnumerable<Intex.OracleSpread>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BurialSquare)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nors)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sq2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Eorw)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Area)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Burialnum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Westtohead)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Westtofeet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Southtohead)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Southtofeet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Depth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preservation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Burialicon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sexmethod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ageatdeath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Agemethod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Haircolor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sample)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BurialSquare)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nors)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sq2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Eorw)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Area)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Burialnum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Westtohead)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Westtofeet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Southtohead)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Southtofeet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Depth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preservation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Burialicon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sexmethod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ageatdeath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Agemethod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Haircolor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sample)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Gamous">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Gamous">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Gamous">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
